flask==2.3.3
flask-sqlalchemy==3.0.3
pydantic==2.5.0
pydantic-settings==2.1.0
numpy==1.26.0
pillow==10.0.1
flask-session
reportlab==4.1.0
werkzeug==2.3.7
PyMySQL==1.1.0
cryptography==41.0.7
mysql-connector-python
python-dotenv==1.0.0
